main{
    .jambo{
        // background-image: url("../../img/jumbotron.jpg");
        background-image: url("/img/jumbotron.jpg");
        height: 500px;
        background-size:cover ;
        
    }
}
