
main.comic {
    background-color: white;
    .bar-blue{
        width: 100%;
        height: 100px;
        background-color: #00a8d9;
    }
    .container {
        padding: 3em 0;
        position: relative;
        width: 70%;
        margin: 0 auto;
        .comic-title {
            position: absolute;
            top: -330px;
            left: 200px;
            border: 1px solid white;
            width: 200px;
            overflow: hidden;
            img {
                width: 100%;
            }
            .blue-title {
                background-color: #00a8d9;
                text-transform: uppercase;
                position: absolute;
                color: white;

                &.book {
                    top: 0;
                    padding: 0.3em 0.5em;
                }

                &.gallery {
                    bottom: 0;
                    width: 100%;
                    padding: 0.3em 0;
                    text-align: center;
                }
            }
        }
        .book-container {
            display: flex;
            width: 100%;

            .description {
                width: 80%;
                // padding-top: 2em;
                margin-right: 2em;

                // .book-title {
                //     text-transform: uppercase;
                //     color: #1c405d;
                //     font-size: 1.4em;
                //     padding: 1em 0;
                // }

                .available-container {
                    width: 100%;
                    display: flex;
                    color: white;
                    font-size: 0.8em;

                    .left {
                        width: 70%;
                        display: flex;
                        justify-content: space-between;
                        background-color: #55ba58;
                        border-bottom: 1px solid #357739;
                        border-right: 1px solid #357739;
                        padding: 0.9em;

                        .span-price {
                            color: #aff892;
                        }

                        .span-available {
                            text-transform: uppercase;
                            color: #aff892;
                        }
                    }
                    .right {
                        width: 30%;
                        background-color: #55ba58;
                        border-bottom: 1px solid #357739;
                        padding: 0.9em;
                        display: flex;
                        justify-content: center;

                        .text-availability {
                            display: flex;
                            align-items: center;

                            i {
                                padding-left: 0.5em;
                            }
                        }
                    }
                }

                .text-description {
                    padding-top: 0.7em;
                    color: #555555;
                    line-height: 1.5em;
                }
            }
            .adv-container {
                span {
                    display: inline-block;
                    width: 100%;
                    text-transform: uppercase;
                    text-align: right;
                }

                img {
                    width: 100%;
                }
            }
        }
        
    }
    
}
.container-100{
    width: 100%;
    height: 500px;
    background-color: #F6F6F6;
    padding-top: 3em;
    .table{
        display: flex;
        justify-content: space-around;
        .table-left{
            width: 40%;
            .art-by{
                display: flex;
                justify-content: space-around;
                border-bottom: 1px solid lightgrey;
                margin-top: 20px;
                padding-bottom: 2em;
                
            }
            .art{
                width: 70%;
                a {
                    text-decoration: none;
                    color: #00a9d9;
                }
                
            }
        }
        .table-right{
            
            width: 40%;
            // display: flex;
            .series{
                display: flex;
                
                border-bottom: 1px solid lightgrey;
                margin-top: 20px;
                padding-bottom: 2em;
                .serie{
                    a {
                        text-decoration: none;
                        color: #00a9d9;
                    }

                }
                
            }
        }
    }
    
}
